:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

h1, h2, h3, h4, h5, h6 {
  color: #322153;
  font-family: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(0,221,187);
  background: linear-gradient(90deg, rgba(0,221,187,1) 0%, rgba(27,111,199,1) 100%);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 50px;
}