@media (max-width: 900px) {
  #pagehome {
    background-position-x: 70vw;
  }

  #pagehome .content {
    align-items: center;
    text-align: center;
  }

  #pagehome header {
    position: absolute;
  }

  #pagehome header img { 
    margin-right: 40px;
  }

  #pagehome main {
    align-items: center;
    font-size: 18px;
  }

  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results .cards img {
    height: 250px;
  }

  #page-create-point .fieldgroup {
    flex-direction: column;
  }

  #page-creat-point .fieldgroup .field + .field {
    margin-left: 0;
  }
}

@media (min-height: 630px) {
  #pagehome main {
    position: absolute;
    top: 300px;
  }
}